<div class="container d-flex justify-content-center mt-3">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-4">
      <div class="card-cocktail p-3 m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cocktail.img %>)">
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
      </div>
    </div>
    <% end %>
  </div>
</div>

