// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import 'select2/dist/css/select2';

body {
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("https://res.cloudinary.com/l1chtlaerm/image/upload/v1593135397/background_sy2ebn.jpg");
  background-size: cover;
}

.banner {
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.clearer {
  opacity: 0.6;
}

.content {
  display: flex;
}
.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

.form {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
